/* Global styles */

body {
  margin: 0;

  font-family: sans-serif;
  font-size: 0.8rem;

  color: #444;
  background-color: #eee;
}

li {
  list-style: square;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #444;
  border-bottom: 1px dotted #444;
}

a:hover {
  color: #111;
  border-bottom: 1px solid #111;
}

footer {
  color: #888;
  text-align: center;
  font-style: italic;
}

/* Layout */

section.container,
table.nav {
  margin: 1rem auto;
  max-width: 1000px;
}

section.container {
  display: flex;
  flex-flow: row nowrap;
}

nav {
  width: 200px;
  margin-right: 1rem;
}

section.content,
section.search-results {
  flex-grow: 1;
}

section.search-results {
  display: none;
}

/* Navbar */

nav .icon {
  margin: 1rem 3rem;
  max-width: calc(200px - 6rem);
}

nav input {
  border: 1px solid #888;
  margin-bottom: 1rem;
  width: 100%;
}

nav footer {
  margin-top: 1rem;
}

/* Tables */

table {
  border-spacing: 0;
  border: 1px solid #aaa;
  background-color: #fff;
}

td.number {
  text-align: center;
}

td {
  padding: 0.2rem;
}

th {
  background-color: #eee;
  padding: 0.1rem;
  border: 0.1rem solid #fff;

  text-align: center;
}

/* Navtable */

table.nav th.category,
table.nav th.group {
  white-space: nowrap;
}

table.nav th.group {
  color: #888;
}

table.nav .entry {
  white-space: nowrap;
}

/* Craft tables */

table.crafts tr:nth-child(2n + 1) {
  background-color: #f8f8f8;
}

/* Misc */

.sprite {
  display: inline-block;
  vertical-align: text-bottom;
}

h2 .type {
  font-weight: normal;
  font-style: italic;
  color: #888;
}

h2 .type:after {
  content: ': ';
}

table.iteminfo th {
  white-space: nowrap;
}
